#banner {
	width:100%;
}
header {
	background: url(bg.jpg);
	padding: 20px 0;
	margin: 1.5% auto;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	padding-left: 20px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
	font-size: small;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

footer {
	text-align: center;
	background: url(bg.jpg);  /* Quando a gente quer botar uma imagem, a gente coloca a declaração de uma url, ou seja, um endereço, onde aquela imagem está */
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
